body {
    background-color: #D0ECE7;
    position: relative;
}

.container {
    background-color: white;
    padding: 2%;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    margin-top: 7%;
}

input {
    padding: 2%;
    border: 1px solid black;
    border-radius: 7px;
    margin-bottom: 8px;
    width: 95%;
}

.btn {
    background-color: #16A085;
    color: white;
    width: 20%;
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    font-size: 15px;
    margin: auto 0;
    text-decoration: none;
}

#status {
    background-color: #D0ECE7;
    visibility: hidden;
    padding: 10px;
    border-radius: 20px;
}